 .showmore {
    line-height: 38px;
    padding: 0px;
    border-bottom: 1px solid rgb(241, 241, 241);
}

 .showmore {
    width: 100%;
    /*color: rgb(233, 90, 92);*/
    color: #fec252;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.css-1mlqw8x-unf-card {
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(49, 53, 59, 0.12) 0px 1px 6px 0px;
    color: rgba(0, 0, 0, 0.68);
    display: flex;
    font-size: 12px;
    flex-direction: column;
    line-height: 20px;
    border-radius: 4px;
    margin: 0px 0px 24px;
    padding: 0px;
}
.header__150{
    width: 20%;
}

.css-1mlqw8x-unf-card.order-bom .padding {
    padding: 8px 16px;
}

.css-1mlqw8x-unf-card .border--bottom {
    border-bottom: 1px solid rgb(240, 240, 240);
}

.css-1mlqw8x-unf-card .flex {
    display: flex;
    width: 100%;
}

.css-1mlqw8x-unf-card .header {
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 1px solid rgb(240, 240, 240);
}

.css-1mlqw8x-unf-card .header > div:not(:last-child) {
    padding-right: 16px;
}

.css-1mlqw8x-unf-card .header .trx-info--with-32 {
    width: 40%;
}

.css-1mlqw8x-unf-card .header .trx-info {
    display: flex;
    flex-direction: column;
}

.css-1mlqw8x-unf-card .header .trx-info a {
    text-transform: capitalize;
}

.css-1mlqw8x-unf-card .header a {
    display: block;
    position: relative;
}

.css-1mlqw8x-unf-card .font--ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
}

.css-1mlqw8x-unf-card .font--bold {
    font-weight: bold;
}

.css-1mlqw8x-unf-card .font__size--m {
    font-size: 14px;
}
a:-webkit-any-link {
    text-decoration: none!important;
}
.css-3lpl5n a, .css-3lpl5n p, .css-3lpl5n span, .css-3lpl5n li {
   
}


.css-3lpl5n a, .css-3lpl5n p, .css-3lpl5n span, .css-3lpl5n li {
   
}

.css-1mlqw8x-unf-card .header > div:not(:last-child) {
    padding-right: 16px;
}

.css-1mlqw8x-unf-card .header > div:not(:first-child) {
    padding-left: 16px;
}
.css-1mlqw8x-unf-card .font--nowrap {
    white-space: nowrap;
}

.css-1mlqw8x-unf-card .flex--column {
    flex-direction: column;
}

.css-1mlqw8x-unf-card .font--bold {
    font-weight: bold;
}

.css-1mlqw8x-unf-card .font__size--m {
    font-size: 14px;
}


.css-1mlqw8x-unf-card {
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(49, 53, 59, 0.12) 0px 1px 6px 0px;
    color: rgba(0, 0, 0, 0.68);
    display: flex;
    font-size: 12px;
    flex-direction: column;
    line-height: 20px;
    border-radius: 4px;
    margin: 0px 0px 24px;
    padding: 0px;
}

.css-1mlqw8x-unf-card .font--bold {
    font-weight: bold;
}

.css-1mlqw8x-unf-card .font__type--trx {
    /*color: rgb(250, 89, 29);*/
    color: #fec252;
}

.css-1mlqw8x-unf-card .font__size--l {
    font-size: 16px;
}

.css-1mlqw8x-unf-card.order-bom .body {
    padding-bottom: 12px;
}

.css-1mlqw8x-unf-card .flex {
    display: flex;
    width: 100%;
}

.css-1mlqw8x-unf-card .body {
    flex-direction: column;
    padding: 0px 16px 16px;
}


.css-1mlqw8x-unf-card.order-bom .content {
    padding-bottom: 12px;
}

.css-1mlqw8x-unf-card .product__item.bom:last-child {
    padding-bottom: 16px;
    border-bottom: 1px solid rgb(241, 241, 241);
}

.css-1mlqw8x-unf-card .product__item:last-child {
    padding-bottom: 0px;
    border-bottom: none;
}

.css-1mlqw8x-unf-card .product__item {
    display: flex;
    padding: 16px 0px;
    border-bottom: 1px solid rgb(241, 241, 241);
}

.css-1e6gctp-unf-link {
    color: #4b0813;
    font-size: 0.857143rem;
    cursor: pointer;
    text-decoration: none;
}

.css-1dhisgl {
    height: 56px;
    width: 56px;
    border-radius: 8px;
}

.css-1mlqw8x-unf-card .product__item__desc {
    max-width: 100%;
    width: 100%;
    -webkit-box-flex: 1;
    flex-grow: 1;
    text-transform: capitalize;
    margin: 0px 16px;
}
.css-3lpl5n a, .css-3lpl5n p, .css-3lpl5n span, .css-3lpl5n li {
   
}


.css-1mlqw8x-unf-card .ellipsis-two-line {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.css-1mlqw8x-unf-card .font--bold {
    font-weight: bold;
}

.css-1mlqw8x-unf-card .font__size--m {
    font-size: 14px;
}
.css-1mlqw8x-unf-card .font__type--trx {
    /*color: rgb(250, 89, 29);*/
    color: #fec252;
}
.css-1mlqw8x-unf-card .padding--left {
    padding-left: 8px;
}
.css-3lpl5n a, .css-3lpl5n p, .css-3lpl5n span, .css-3lpl5n li {
   
}
.css-1n5r376 {
    color: rgba(0, 0, 0, 0.68);
}

.css-1mlqw8x-unf-card .product__item > div:not(:last-child) {
    padding-right: 16px;
}
.css-1mlqw8x-unf-card .product__item > div {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
}
.css-1mlqw8x-unf-card .bordered--left {
    padding-left: 16px;
    border-left: 1px solid rgb(241, 241, 241);
}
.css-1mlqw8x-unf-card .flex--grow2 {
    -webkit-box-flex: 2;
    flex-grow: 2;
}

.css-1mlqw8x-unf-card button {
    min-width: 116px;
    font-size: 12px;
}

.css-1mlqw8x-unf-card a {
    min-width: 116px;
    font-size: 12px;
}
.css-duvvqm-unf-btn {
    color: rgb(255, 255, 255);
    font-size: 0.857143rem;
    height: 32px;
    line-height: 18px;
    width: auto;
    font-weight: 800;
    cursor: pointer;
    display: inline-block;
    text-indent: initial;
    position: relative;
    border-radius: 8px;
    outline: none;
    padding: 0px 16px;
    transition: background 0.8s ease 0s;
    /*background: radial-gradient(circle, transparent 1%, rgb(250, 89, 29) 1%) center center / 15000% rgb(250, 89, 29);*/
    background-image: linear-gradient(122deg, #ff8126, #fec252);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.css-1mlqw8x-unf-card .flex--center {
    -webkit-box-align: center;
    align-items: center;
}

.css-1mlqw8x-unf-card .flex {
    display: flex;
    width: 100%;
}

.css-1v0ixe8 {
    color: #000;
    padding: 0px;
    margin: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}

.css-1v0ixe8 img {
    margin-right: 8px;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}

.css-1v0ixe8 span {
    display: inline-block;
    vertical-align: middle;
}

.css-gcemtj {
    padding-left: 8px;
    margin-left: 8px;
    color: #000;
    border-left: 1px solid rgba(0, 0, 0, 0.12);
}

.css-1jyc08 {
    color: #000;
}

.dataTable tbody > tr > th, .dataTable tbody > tr > td:hover {
    background:#fff;
}

.table>thead>tr>th, .table>thead>tr>td {
    border-bottom: 1px solid #fff;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    border-top: 1px solid #fff;
}
.foto_produk {
    height: 60px;
    width: 60px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.text-color-1 {
    color: #AB2828 !important;
}

.text-color-2 {
    color: #fec252 !important;
}

.btn-gradient-1 {
  color: #fff;
  font-weight: 500;
  background: #54f0ff;
  background-image: linear-gradient(122deg, #e63219, #AB2828);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s; }
  .btn-gradient:hover, .product-tab-sw li a:hover, .product-tab-sw2 li a:hover {
    color: #fff;
    -webkit-box-shadow: 0px 2px 20px 2px rgba(194, 106, 245, 0.68);
            box-shadow: 0px 2px 20px 2px rgba(194, 106, 245, 0.68); }

.btn-gradient-2 {
  color: #fff;
  font-weight: 500;
  background: #54f0ff;
  background-image: linear-gradient(122deg, #ff8126, #fec252);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s; }
  .btn-gradient2:hover, .product-tab-sw li a:hover, .product-tab-sw2 li a:hover {
    color: #fff;
    -webkit-box-shadow: 0px 2px 20px 2px rgba(194, 106, 245, 0.68);
            box-shadow: 0px 2px 20px 2px rgba(194, 106, 245, 0.68); }

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #000000;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.track_judul {
    margin-left: 25px;
}

.track_ket {
    margin-left: 25px;
}